<div class="footer-pagination">
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-3 mt-2">
          <label class="mr-2">Page Size</label>
          <select [(ngModel)]="newPageSize" (change)="updatePageSize()">
            <option *ngFor="let item of itensPerPageSize" value="{{ item }}">{{
              item
            }}</option>
          </select>
        </div>
        <div class="col-md-9">
          <ngb-pagination
            [(page)]="pageNumber"
            [pageSize]="pageSize"
            [collectionSize]="totalItens"
            [maxSize]="3"
            [boundaryLinks]="true"
            (pageChange)="updatePageNumber()"
          ></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
